# Virtualenv
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Testes
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Env
.env

# Logs
*.log

# Build / cache
dist/
build/

# Dados locais
data/
tmp/
script/
sdd/

# SRC
src/docs/
src/__pycache__/
src/UNKNOWN.egg-info


