# Framework Web & UI
streamlit>=1.30.0
plotly>=5.18.0

# Manipulação de Dados
pandas>=2.1.0
pydantic>=2.5.0

# Banco de Dados & ORM
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0  # Driver Postgres

# Utilitários
python-dotenv>=1.0.0

# Testes
pytest
pytest-cov
